* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero {
    min-height: 80vh;
    background-image: url("hero-image.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero__text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
}

.hero__name {
    font-size: 4rem;
    font-weight: bold;
}

.project__head {
    font-size: 2rem;
    font-weight: bold;
}

.projects__head {
    text-align: center;
    padding: 10px;
}

.projects__title {
    font-size: 1.5rem;
    position: relative;
}

.projects__line {
    height: 1px;
    background-color: black;
    margin: 10px;
}

#projects {
    text-align: center;
    padding: 80px;
    height: 50vh;
    background-color: rgb(218, 218, 224);
}

.project__column {
    float: left;
    margin-left: 5px;
    width: 32.5%;
}  
.projects__wrapper:after {
    display: table;
    clear: both;
    position: relative;
}

.projects__content {
    margin: 20px;
    padding: 20px;
}

.project__image__overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}
.project__title {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .project__image:hover .project__image__overlay {
    bottom: 0;
    height: 100%;
  }
  .project__image {
      position: relative;
  }